* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

.nav__container {
  padding: 0 !important;
}

.NavbarItems {
  background: #0f0c29;
  width: 100%;
  color: #fff;
}

.nav__logo {
  color: rgba(255, 255, 255, 0.811);
  transition: all 0.3s ease-in-out;
  font-size: 2rem;
}

.nav__links {
  color: rgba(255, 255, 255, 0.811);
  transition: all 0.3s ease-in-out;
  padding: 0 20px !important;
}

.nav__logo:hover,
.nav__links:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.414);
}

@media screen and (max-width: 986px) {
  .nav__logo {
    font-size: 0.8rem;
  }
}

/* Login Forms */

.forms {
  font-weight: 600 !important;
  padding: 15px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* Login End of Forms */

/* Home Content */

.transaction__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
}

.history__container::-webkit-scrollbar {
  display: none;
}

.input__container {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.414);
  padding: 25px;
  width: 40%;
  height: fit-content;
  border-radius: 5px;
  margin: 0 !important;
}

.history__root {
  width: 50%;
  height: 548px;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.414);
  padding: 50px 0;
}

.history__container {
  width: 100%;
  height: 100%;
  text-align: center !important;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.table__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 15px 0; */
}

.records__home {
  font-weight: 600 !important;
  width: 550px;
  display: block;
  padding: 15px;
  margin: 25px 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.414);
  display: flex;
  justify-content: space-around;
}

.transactionDetails {
  border: none !important;
}

.homeButtons {
  background-color: #0f0c29 !important;
  padding: 19px;
  color: #fff !important;
  border: 1px solid #0f0c29 !important;
  transition: all 0.5s ease-in-out;
}

.homeButtons:hover {
  background-color: #fff !important;
  color: #0f0c29 !important;
}

.homeButtons:focus {
  box-shadow: none !important;
}

.add__categoriesContainer {
  margin: 0 !important;
  padding: 15px;
  height: 38px !important;
  display: block;
  font-size: 16px !important;
  display: flex !important;
  justify-content: center !important;
  width: 40%;
  align-items: center !important;
  background: #0f0c29 !important;
  border: 1px solid #0f0c29 !important;
  transition: all 0.3s ease-in-out !important;
}

.add__categoriesContainer:hover {
  background: #fff !important;
  color: #0f0c29 !important;
  font-weight: 600;
}

.add__categoriesContainer:focus {
  box-shadow: none !important;
}

.transaction__title {
  font-size: 2rem;
}

.incomeExpense_text {
  margin: 0 20px;
}

@media screen and (max-width: 1200px) {
  .transaction__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
  }

  .input__container {
    width: 75%;
    margin-bottom: 5% !important;
  }

  .history__root {
    width: 75%;
  }

  .add__categoriesContainer {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 896px) {
  .transaction__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0px !important;
  }

  .input__container {
    width: 95%;
    margin-bottom: 5% !important;
  }

  .history__root {
    width: 95%;
    padding: 5%;
  }

  .history__container {
    overflow-wrap: break-word;
  }

  .totals__paragraph {
    font-size: 0.8rem;
  }
}

/* end of  Home Content */

/* charts page */

.dashboard__container {
  width: 95%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.214);
  margin: 25px auto;
  padding: 25px;
}

.charts__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 50px 0;
}

.lineChart {
  width: 95%;
  padding: 25px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.414);
  margin: 0 auto 50px;
}

.doughnutChart {
  width: 45%;
  padding: 25px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.414);
}

.barChart {
  width: 45%;
  padding: 25px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.414);
}

/* end of charts page */

/* history page */

.transaction__history {
  width: 85% !important;
  border-radius: 5px !important;
  margin-bottom: 50px !important;
}

.filters__container {
  display: flex;
  flex-direction: row;
  margin: 5% 7.5% 0% !important;
}

.form__filterDescription {
  width: 40%;
}

.form__filterTransaction {
  width: 25%;
  margin-left: 5%;
}

@media screen and (max-width: 890px) {
  td,
  th {
    font-size: 0.5rem !important;
    margin: 0 !important;
  }

  .form__filterDescription {
    width: 50% !important;
    font-size: 0.8rem !important;
    margin: 0 !important;
  }

  .form__filterTransaction {
    width: 55% !important;
    font-size: 0.8rem !important;
    /* margin-left: 5% !important; */
  }
}

/* end of history page */

/* Settings */

.settings__root {
  width: 100%;
}

.settings__links {
  margin: 50px auto;
}

.settings__title {
  font-size: 3rem;
  margin: 15px 0;
  color: #0f0c29;
}

.settingsButton {
  display: block;
  font-size: 16px !important;
  display: flex !important;
  justify-content: center !important;
  width: 50%;
  align-items: center !important;
  background: #0f0c29 !important;
  border: 1px solid #0f0c29 !important;
  margin: 15px auto;
  padding: 15px !important;
  transition: all 0.3s ease-in-out !important;
}

.settingsButton:hover {
  background: #fff !important;
  color: #0f0c29 !important;
  font-weight: 600;
}

.settingsButton:focus {
  box-shadow: none !important;
}

/* end of settings */

/* change password */

.changePassword__rootContainer {
  width: 60%;
  margin: 2% auto;
}

.changepassword__title {
  color: #0f0c29;
  font-size: 3rem;
}

/* end of change password */

/* Footer */

.Footer {
  background: #0f0c29;
  color: #fff;
  margin-top: auto !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Footer p {
  margin: 0 !important;
  padding: 8px;
  font-size: 0.8rem;
}

@media screen and (max-width: 850px) {
  .Footer p {
    font-size: 0.5rem;
  }
}

/* end of footer */

#app-div {
  min-height: 100vh;
}
